on fs
    symlink /system_root/system /system
    symlink /dev/block/platform/bootdevice/by-name /dev/block/by-name

    setprop sys.usb.ffs.aio_compat 1

    write /sys/class/power_supply/usb/otg_switch 1

on init
    export PATH /sbin:/system/bin
    export LD_LIBRARY_PATH /sbin

    export ANDROID_ROOT /system_root
