# MTK Specific entries
/dev/mali                 0666   system graphics
/dev/ion                  0666   system graphics
/dev/graphics/*           0660   root graphics
/dev/input/*              0660   root input
/dev/touch                0660   root system
/dev/mali0                0666   system graphics
/dev/sw_sync              0660   system graphics
/dev/mtk_disp_mgr         0660   system graphics
/dev/pvr_sync             0666   root root
/dev/pvrsrvkm             0666   root root
